.short-night.colors{
    $black: #333;
    &.axis_milestone{
        font-size: 18px;
        color: $black;
        padding: 2px 7px;
    }
    &.event_body{
        color: #fff;
        padding: 7px 10px 7px 5px;
        text-align: right;
        .folded{
            cursor: pointer;
            .title{
                overflow: hidden;
                text-overflow:ellipsis;
                white-space:nowrap;
            }
        }
        .title{
            font-size: 1em;
            padding-left: 10px;
        }
        .date{
            font-size: 0.6em;
            font-weight: normal;
            font-style: italic;
        }
        .foldPlaceholder{
            @extend .title;
        }
    }
    &.event_axis-endText{
        padding: 0 0 2px 3px;
        font-size: 0.8em;
    }
}
