.short-night{
    position: relative;
    box-sizing: border-box;
    &{
        margin: 0;
        padding: 0;
    }
    &.sn-axis_milestone{
        font-family: sans-serif;
        position: absolute;
        padding: 5px 10px;
    }
    &.sn-event_body{
        position: absolute;
        color: #000;
        padding: 7px 10px 7px 5px;
        &.sn-folded{
            cursor: pointer;
            .sn-title{
                display: none;
            }
            .sn-foldPlaceholder{
                display: block;
            }
        }
        .sn-title{
            font-size: 1em;
            text-overflow:ellipsis;
            text-align: right;
        }
        .sn-date{
            font-size: 0.6em;
            font-weight: normal;
            font-style: italic;
            text-align: right;
        }
        .sn-description{
            word-break: break-all;
            font-size: 0.8em;
            text-align: justify;
        }
        .sn-foldPlaceholder{
            @extend .sn-title;
            display: none;
        }
    }
    &.sn-event_axis.sn-endText{
        position: absolute;
        padding: 0 0 2px 5px;
        font-size: 0.8em;
    }
}
