.short-night.rules{
    &.axis_milestone{
        font-size: 12px;
        color: #1e2122;
        font-weight: bold;
        padding: 0 0 0 32.5px;
    }
    &.event_body{
        color: #fff;
        .title{
            font-size: 1em;
            padding-left: 10px;
        }
        .date{
            font-size: 0.6em;
            font-weight: normal;
            font-style: italic;
        }
        .foldPlaceholder{
            @extend .title;
        }
    }
}
