.short-night.rules{
    font-family: sans-serif;
    &.axis_milestone{
        font-size: 12px;
        color: #1e2122;
        font-weight: bold;
        padding: 0 0 0 32.5px;
    }
    &.event_body{
        color: #fff;
        padding: 10px 25px+6px+5px+5px 10px 14px;
        //            ^- text-padding
        //                 ^- △
        //                     ^- Space
        //                         ^- Mark
        .title{
            font-size: 13px;
            color: #666666;
        }
        .date{
            font-size: 9px;
            color: #666666;
            font-style: normal;
            text-align: left;
        }
        .description{
            font-size: 10px;
            color: #999999;
        }
        .foldPlaceholder{
            @extend .title;
        }
    }
    &.event_axis.endText{
        font-size: 9px;
    }
}
